<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>,
  <ion-content fullscreen>
    <ion-card>
      <img src="assets/profile.jpg" />
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Angelo James H. Aguirre</ion-card-title>
      </ion-card-header>
      <ion-card-content>

      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-list-header></ion-list-header>
      <ion-item>
        <ion-label>Followers</ion-label>
        <ion-badge slot="end">1,145,675M</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Likes</ion-label>
        <ion-badge color="secondary" slot="end">578k</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Notifications</ion-label>
        <ion-badge color="danger" slot="end">1000</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Unread</ion-label>
        <ion-badge color="light" slot="end">24</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>Deleted</ion-label>
        <ion-badge color="dark" slot="end">4</ion-badge>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>